{% extends 'base.html' %}
{% load static %}


{% block meta_block_add %}<meta http-equiv="refresh" content="5">{% endblock %}


{% block title %}Открытые сделки{% endblock %}


{% block nav_baractive_index %}active{% endblock %}


{% block content %}
    <div class="starter-template">

        <h1 class="bold"><b>Открытые сделки</b></h1>

        {% if messages %}
        <div class="alert alert-success" role="alert">
            <ul class="messages ">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
      {% if opened_shift.start_working and opened_shift.end_working %}
        <div class="container">
            <form action="{% url 'btcbot:editor' %}" method="post">
                {% csrf_token %}
                <input type='hidden' name='editor' value='open_new_shift' />
                <button class="btn btn-dark" type="submit" onclick="return confirm('Вы уверены?')"><b>Открыть смену</b></button>
            </form><br />
        </div>
      {% else %}
          <div class="container">
              <form action="{% url 'btcbot:editor' %}" method="post">
                {% csrf_token %}
                <input type='hidden' name='shift_id' value='{{ opened_shift.id }}' />
                <input type='hidden' name='editor' value='close_opened_shift' />
                <button class="btn btn-dark" type="submit" onclick="return confirm('Вы уверены?')"><b>Закрыть смену</b></button>
              </form><br />
          </div>
      {% endif %}
      <table class="table table-bordered table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">Номер сделки</th>
            <th scope="col">Верифицирован?</th>
            <th scope="col">Сумма руб.</th>
            <th scope="col">Сумма BTC</th>
            <th scope="col">Дата создания</th>
            <th scope="col">Кошелек</th>
            <th scope="col">Первое сообщение?</th>
            <th scope="col">Пометка об оплате?</th>
            <th scope="col">Деньги пришли?</th>
            <th scope="col">Второе сообщение?</th>
            <th scope="col">Оспаривается?</th>
            <th scope="col">Чат</th>
          </tr>
        </thead>
        <tbody>
            {% for opentrade in opentrades_list %}
            <tr>
              <th scope="row">{{ opentrade.trade_id }}</th>
                <td>{% if opentrade.is_verified %}<b>Да</b>{% else %}Нет{% endif %}</td>
                <td>{{ opentrade.amount_rub|floatformat:2 }}</td>
                <td>{{ opentrade.amount_btc|floatformat:8 }}</td>
                <td>{{ opentrade.created_at }}</td>
                <td>{{ opentrade.api_key_qiwi.name }}<br/>
                    {% if opentrade.api_key_qiwi.is_blocked %}Заблокирован{% endif %}</td>
                <td>{% if opentrade.sent_first_message %}Да {% else %} Нет {% endif %}</td>
                <td>{% if opentrade.sent_qiwi %}
                        <button type="button" class="btn btn-warning">Да</button>
                    {% else %}
                        Нет
                    {% endif %}
                </td>
                <td>{% if opentrade.marked_paid and not opentrade.disputed %}
                        <form action="{% url 'btcbot:editor' %}" method="post">
                            {% csrf_token %}
                            <input type='hidden' name='opentrade_id' value='{{ opentrade.id }}' />
                            <input type='hidden' name='editor' value='opentrade_paid' />
                            <button class="btn btn-success" type="submit"><b>Да</b></button>
                        </form><br />
                    {% elif not opentrade.marked_paid and not opentrade.disputed %}
                        <form action="{% url 'btcbot:editor' %}" method="post">
                            {% csrf_token %}
                            <input type='hidden' name='opentrade_id' value='{{ opentrade.id }}' />
                            <input type='hidden' name='editor' value='opentrade_paid' />
                            <button class="btn btn-danger" onclick="return confirm('Вы уверены, что деньги пришли?')" type="submit"><b>Нет</b></button>
                        </form><br />
                    {% else %}
                        Оспаривается <br/> Битки нельзя отпустить
                    {% endif %}</td>
                <td>{% if opentrade.sent_second_message %}Да {% else %} Нет {% endif %}</td>
                <td>{% if opentrade.disputed %}Да {% else %} Нет {% endif %}</td>
                <td>{% if not opentrade.disputed %}
                        <button class="btn btn-info" type="button"><b><a style="color: white;" href="{% url 'btcbot:message' opentrade.id %}" target="_blank">Открыть чат</a></b></button>
                    {% else %}
                        <p>Сделка оспаривается. Сообщения недоступны</p>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>

{% endblock %}
